body {
  background: var(--backgroundColor);
  height: 100%;
}


.container {
  min-width: 320px;
  max-width: 1280px;
  // background: var(--backgroundColor);
  height: 100%;
  margin: auto;
  overflow:hidden;
}


// body::after {
//     @include circle;
//     background-color: var(--decorationBlue);
//     top: -20vw;
//     left: -20vw;
//     width: 35vw;
//     height: 35vw;
//   }

h1 {
  color: var(--primaryColor);
  font-family: generalFont;
  font-size: 96px;
}

h2 {
  color: var(--primaryColor);
  font-family: generalFont;
  font-size: 32px;
}

svg {
  height: 100%;
}


.up-btn {
  display: flex;
  width: 40px;
  height: 100px;
  position: fixed;
  right: 20px;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
  z-index: 4;
}
.up-btn svg {
  fill: var(--logoColor);
}
.up-btn:hover svg {
  opacity: 1;
  fill: var(--logoColor);
  opacity: 0.5;
}


@media (min-width: $tabletWidth) {
    body::after {
        width: 30vw;
        height: 30vw;
    }
    }